@font-face {
    font-family: "chemi fonti";
    src: url(/OldStandardTT-Bold.ttf);
}
.nik {
    font-family: "chemi fonti";
}
@font-face {
    font-family: "fonti";
    src:  url(/OldStandardTT-Italic.ttf);
}
p {
    font-family: "fonti";
}
@font-face {
    font-family: "facefont";
    src: url(/OldStandardTT-Regular.ttf);
}
.name {
    font-family: "facefont";
    text-align: justify;
}